/** Add css rules here for your application. */

/* Dynamic color changes for the Change field */
.noChange {
    color: black;
}

.positiveChange {
    color: green;
}

.negativeChange {
    color: red;
}

.errorMessage {
    color: red;
}