body {
    width: 980px;
    margin: 0 auto
    padding: 20px;
}
#container {
    width: 100%;
}

/* book list header row */
.watchListHeader {
    background-color: #2062B8;
    color: white;
    font-style: italic;
}

/* book list flex table */
.watchList {
    border: 2px solid silver;
    padding: 2px;
}

/* book list Price and Change fields */
.watchListRemoveColumn {
    text-align: center
}

/* book list Remove column */
.watchListRemoveColumn {
    text-align: center;
}

/* Panel */
.panel {
    margin: 5px 5px 5px 5px;
}

/* book list, the Remove button */
.gwt-Button {
    width: 70px;
}

.errorMessage {
    color: red;
}